<div class='post mb-5 p-3 bg-light'>
<small><%= link_to "#{post.user.first_name}", user_path(post.user) %></small><br>
<div class='post-body'><%= post.body %><br></div>
<div class='post-links'>
  <%= link_to 'Like', post_likes_path(post), method: :post %> 
  <%= post.likes.count %> <%= (post.likes.count) > 1 ? 'Like' : 'Likes' %>
    <small><%= link_to 'Edit', edit_post_path(post) %></small>
    <small><%= link_to 'Delete', post_path(post), method: :delete %></small><br><br>
</div>

<div id='comment_div' class='ml-3'>
  <% post.comments.each do |comment| %>
    <div class='mb-2'>
      <small><%= link_to "#{comment.user.first_name}:", user_path(comment.user) %></small>
      <small class='font-italic'><%= comment.body %></small><br>
      <div class='comment-links'>
        <%= link_to 'Like', comment_likes_path(comment), method: :post %>
          <small><%= comment.likes.count %> <%= (comment.likes.count) == 1 ? 'Like' : 'Likes'%></small>
          <div>
            <small><%= link_to 'Edit', edit_comment_path(comment) %></small>
            <small><%= link_to 'Delete', comment_path(comment), method: :delete %></small><br><br>
          </div>
      </div>
    </div>
  <% end  %><br>
</div>
<div class='ml-3 comment-form'>
  <%= form_for(@comment) do |f| %>
    <%= f.hidden_field :post_id, value: post.id  %>
    <%= f.text_field :body %>
    <%= f.submit 'Comment' %>
  <% end  %><br>
  </div>
</div>