<div class="container">
  <h5 class='text-center font-weight-bold mb-5 mt-5'>Connect with others:</h5>
  <div class='friend-container d-flex flex-wrap mb-5 mt-5 p-auto pt-3 text-center'>
    <% @users.each do |user| %>
      <div class="card m-2 border-0" style="width: 18rem;">
        <%= link_to user_path(user), class: "card-img-top" do %>
          <%= gravatar_for user %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= user.first_name %> <%=  user.surname %></h5>
          <% if current_user.pending_friends.include?user %>
            <%= link_to "Pending friend", "#", class: "btn btn-success" %>
          <% elsif current_user.friends.include?user %>
            <%= link_to 'Unfriend', user_friendship_path(current_user, user), class: "btn btn-danger", method: :delete %>
          <% else %>
            <%= link_to 'Add friend', user_friend_requests_path(user), class: "btn btn-primary",  method: :post %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>