<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <div><br><%= gravatar_for @user %></div><br>
      Name: <%= @user.first_name %> <%= @user.surname %><br>
      Email: <%= @user.email %><br>
      Date of birth: <%= @user.date_of_birth %><br>
      Gender: <%= @user.gender %><br>
    </div>

    <div class='col-md-8'>
    <%= signed_in_create_post?(@user, current_user, @post) %>
    <%= edit_delete_post(current_user, @posts)%>
    </div>
  </div>