<%= gravatar_for @user %><br>
Name: <%= @user.first_name %> <%= @user.surname %><br>
Email: <%= @user.email %><br>
Date of birth: <%= @user.date_of_birth %><br>
Gender: <%= @user.gender %><br>


<% @posts.each do |post| %>
  <h5><%= post.body %></h5>
<% end %>