<div class='all-users-container d-flex flex-column mb-5'>
  <h4 class='text-left font-weight-bold mb-5 mt-5'> Respond to friend requests</h4>
  <% @incoming.each do |request| %>
  <div class='d-flex align-items-end justify-content-between mb-3'>
    <div>
      <%= gravatar_for request.user %><%=link_to "#{request.user.first_name} #{request.user.surname}", user_path(request.user) %>
    </div>
    <div>
      <%= button_to 'Accept request', friend_request_path(request),method: :patch %>
    </div>
  </div>
  <% end %>
</div>


<div class='all-users-container d-flex flex-column mb-5'>
  <h4 class='text-left font-weight-bold mb-5 mt-5'> Your pending friends </h4>
  <% @outgoing.each do |request| %>
  <div class='d-flex align-items-end justify-content-between mb-3'>
    <div>
      <%= gravatar_for request.friend %><%=link_to "#{request.friend.first_name} #{request.friend.surname}", user_path(request.friend) %>
    </div>
    <div>
      <%= button_to 'Cancel request', friend_request_path(request), method: :delete %>
    </div>
  </div>
  <% end %>
</div>