<h3>Timeline</h3>

<%= form_for(@post) do |f| %>
  <%= f.label :body, 'Create a post' %><br/>
  <%= f.text_area :body %>
  <%= f.submit 'Post' %>
<% end %>
<% if @posts.empty? %>
  <h4>You don't have any posts yet!</h4>
<% else  %>
  <div>
    <% @posts.each do |post| %>
      <small><%= link_to "#{post.user.first_name}", user_path(post.user) %></small><br>
      <%= post.body %><br>
      <%= link_to 'Like', post_likes_path(post), method: :post %> 
      <%= post.likes.count %> <%= (post.likes.count) > 1 ? 'Like' : 'Likes'%>
      <% if current_user == post.user %>
        <small><%= link_to 'Edit', edit_post_path(post) %></small>
        <small><%= link_to 'Delete', post_path(post), method: :delete %></small><br><br>
      <% end %><br><br>
      
      <div id='comment_div'>
        <% post.comments.each do |comment| %>
          <small><%= link_to "#{comment.user.first_name}", user_path(comment.user) %>:</small>
          <small><%= comment.body %></small><br>
          <%= link_to 'Like', comment_likes_path(comment), method: :post %>
          <small><%= comment.likes.count %> <%= (comment.likes.count) == 1 ? 'Like' : 'Likes'%></small>
          <% if current_user == comment.user %>
            <small><%= link_to 'Edit', edit_comment_path(comment) %></small>
            <small><%= link_to 'Delete', comment_path(comment), method: :delete %></small><br><br>
          <% end %>
        <% end  %>
      </div><br>

      <%= form_for(@comment) do |f| %>
        <%= f.hidden_field :post_id, value: post.id  %>
        <%= f.text_field :body %>
        <%= f.submit 'Comment' %>
      <% end  %><br>
      
    <% end %>
  </div>

<% end %>