<div class='container post-index-container p-3'>
  <%# <h4 class='text-left font-weight-bold mb-5 mt-5'>Taleline</h4> %>
  <div class='mb-3 p-3 bg-light post-form'>
    <%= form_for(@post)  do |f| %>
      <%= f.label :body, 'Tell your tale', class: "font-weight-bold" %>
      <%= f.text_area :body, placeholder: "What's your story?" %>
      <%= f.submit 'Submit' %>
    <% end %>
  </div>
  <% if @posts.empty? %>
    <h4 class='text-center font-weight-bold mb-3 mt-3' >You don't have any posts yet!</h4>
   <% else  %>
    <% @posts.each do |post| %>
      <div class='post mb-3 p-3 bg-light ml-auto'>
        <small><%= link_to "#{post.user.first_name}", user_path(post.user) %></small><br>
        <div class='post-body mb-1'><%= post.body %><br></div>
        <div class='post-links mb-3'>
        <% if current_user == post.user %>
          <small class='mr-2'><%= link_to 'Edit', edit_post_path(post) %></small>
          <small class='mr-2'><%= link_to 'Delete', post_path(post), method: :delete %></small>
          <% end %>
          <% if post.likes.exists?(user: current_user) %>
          <small class='mr-2 font-weight-bold'><%= link_to "Like(#{post.likes.count})", post_likes_path(post), method: :post %></small>
          <% else %>
          <small class='mr-2'><%= link_to "Like(#{post.likes.count})", post_likes_path(post), method: :post %></small>
          <% end %>
        </div>
      <div class='ml-3'>
      <% post.comments.each do |comment| %>
        <div class='mb-2' id='comment_div'>
          <%= link_to "#{comment.user.first_name}:", user_path(comment.user) %>
          <%= comment.body %>
          <div class='comment-links'>
            <% if current_user == comment.user %>
              <small class="mr-2"><%= link_to 'Edit', edit_comment_path(comment) %></small>
              <small class="mr-2"><%= link_to 'Delete', comment_path(comment), method: :delete %></small>
            <% end %>
            <% if comment.likes.exists?(user: current_user) %>
              <small class="mr-2 font-weight-bold"><%= link_to "Like(#{comment.likes.count})", comment_likes_path(comment), method: :post %></small>
            <% else %>
              <small class="mr-2"><%= link_to "Like(#{comment.likes.count})", comment_likes_path(comment), method: :post %></small>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
      <div class='ml-3 comment-form'>
        <%= form_for(@comment) do |f| %>
          <%= f.hidden_field :post_id, value: post.id  %>
          <%= f.text_field :body, placeholder: "Leave a comment" %>
          <%= f.submit 'Comment' %>
        <% end  %>
      </div>
      </div>
  <% end %>
  <% end %>
</div>
</div>