<!DOCTYPE html>
<html>
  <head>
    <title>FacebookProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
      <%= link_to 'User profile', user_path(current_user) %>
      <%= link_to "Friend Request(s) #{incoming_requests.count}", friend_requests_path(current_user) %>
      <%= link_to 'Friends', user_friendships_path(current_user) %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %>
      <%= link_to 'Sign in', new_user_session_path %>
      <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <% end %>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
      <%= yield %>
  </body>
</html>
